/*Reset*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*Navbar*/
header {
  background-color: #977b7b;
}

.navbar-nav {
  height: 70px;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.logo {
  width: 120px;
}

.offcanvas {
  background-color: #977b7b;
  height: 100vh;
  width: 200px;
  left: 0;
}

.primero {
  margin-left: -35px;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  margin-left: 40px;
  margin-right: 40px;
}

li:hover {
  scale: 1.2;
}

ul a {
  text-decoration: none;
  color: #fff;
  font-size: 26px;
}

#search-form {
  float: right;
}

#search-form.show {
  display: block;
}

header svg {
  color: #fff;
}

#search-icon {
  color: black;
  background-color: #6b4c53;
  margin-bottom: 10px;
  border: none;
  display: none;
}

#search-icon:hover {
  scale: 1.2;
}

.bi-cart {
  margin-top: 5px;
  color: #fff;
  margin-right: -205px;
  float: right;
  margin-bottom: 20px;
}

.bi-cart:hover {
  scale: 1.2;
}

.bi-person {
  margin-top: -70px;
  color: #fff;
  margin-right: -210px;
  float: right;
  margin-bottom: 20px;
}

.bi-person:hover {
  scale: 1.2;
}

#form {
  width: 700px;
  border-radius: 20px;
  background-color: #E0E0E0;
}

#boton {
  background-color: #977b7b;
  border: none;
}

.boton-nav {
  display: none;
}

#boton:hover {
  scale: 1.2;
}

.bi-cart4 {
  margin-right: 10px;
  float: right;
}

.iconos {
  float: right;
}

.linea {
  background-color: rgb(94, 13, 13);
  height: 10px;
  width: 98.9vw;
}

/*Carrusel*/
.carousel {
  margin-left: -0.78rem;
  padding: 0;
  height: 300px;
  width: 98.9vw;
}

.carousel img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slogan {
  position: relative;
  top: -50%;
  left: 0%;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  cursor: default;
}

/*Mejores Productos*/
.subtitulo-carrusel {
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: #333;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: auto;
}

.owl-carousel .item {
  margin: 0 10px;
}

.owl-carousel .item h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.owl-carousel .item p {
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.4;
}

.owl-carousel a {
  text-decoration: none;
  color: #333;
}

/*Promocion*/
.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background-color: #5e0d0d;
}

.promo h3 {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.h3-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Marcas*/
.subtitulo-marcas {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #333;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#iron {
  margin: 0 3rem 3rem 3rem;
  width: 200px;
}

#g2 {
  margin: 0 3rem 3rem 3rem;
  width: 100px;
}

#river {
  margin: 0 3rem 3rem 3rem;
  width: 150px;
}

#barca {
  margin: 0 3rem 3rem 3rem;
  height: 110px;
}

#kru {
  margin: 0 3rem 3rem 3rem;
  width: 100px;
}

/*Redes*/
#redes {
  background-color: #5e0d0d;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#redes svg {
  margin: 0 3rem 0 3rem;
}

#redes svg:hover {
  scale: 1.2;
}

/*Footer*/
/* -------------------------- PreFooter--------------------------*/
.prefooter {
  background-color: #977b7b;
}

.columna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0 0 0;
}

.prefooter a {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.prefooter a:hover {
  scale: 1.2;
}

.margen-pf {
  margin-bottom: 3rem;
}

/* -------------------------- Footer-------------------------- */
footer {
  background-color: #5e0d0d;
  color: #ffffff;
}

.alinear-footer {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Pagina de Productos*/
.direcciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.direcciones .home {
  text-decoration: none;
  color: #333;
}

.direcciones .dir {
  text-decoration: none;
}

.fotos-costado img {
  width: 150px;
  margin: 2rem 0 0 1rem;
}

.foto-principal img {
  width: 550px;
  margin: 1rem 0 3rem -5rem;
}

.descripciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 0 -7rem;
}

.descripciones h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.descripciones p {
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.colores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.colores :hover {
  scale: 1.1;
}

.rojo {
  margin: 0 0.5rem 0 0.5rem;
  border: solid 1px #333;
  background-color: red;
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.azul {
  margin: 0 0.5rem 0 0.5rem;
  border: solid 1px #333;
  background-color: #2f00ff;
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.negro {
  margin: 0 0.5rem 0 0.5rem;
  border: solid 1px #333;
  background-color: #000000;
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.blanco {
  margin: 0 0.5rem 0 0.5rem;
  border: solid 1px #333;
  background-color: #ffffff;
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.desplegable {
  margin: 2rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-talles {
  background-color: #5e0d0d;
}

.desplegable .dropdown .dropdown-menu .dropdown-item {
  font-size: 15px;
}

.precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.precio h5 {
  color: #333;
  font-weight: 400;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0 0 1rem;
}

.precio p {
  margin: 2.3rem 0 0 1rem;
  color: #5e0d0d;
}

.btn-comprar {
  margin: 2rem 0 0.5rem 0;
  color: #ffffff;
  padding: 20px 0;
  background-color: #5e0d0d;
  border: none;
  border-radius: 10px;
}

.btn-aac {
  margin: 0 0 0.5rem 0;
  color: #ffffff;
  padding: 20px 0;
  background-color: #6b4c53;
  border: none;
  border-radius: 10px;
}

/*Responsive*/
@media only screen and (max-width: 767px) {
  #form {
    width: 150px;
    border-radius: 20px;
    background-color: #E0E0E0;
  }
  #search-icon {
    display: block;
    background-color: #977b7b;
  }
  #search-icon::content {
    display: none;
  }
  .primero {
    margin-top: 70px;
    margin-left: 0px;
  }
  .iconos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .bi-cart {
    margin-top: 20px;
    margin-right: 85px;
    margin-bottom: 20px;
  }
  .bi-person {
    margin-top: 0px;
    margin-right: 85px;
    margin-bottom: 20px;
  }
  #search-form {
    margin-top: 220px;
    float: right;
  }
  .linea {
    background-color: rgb(94, 13, 13);
    height: 10px;
    width: 100vw;
  }
  .carousel {
    margin-left: -0.78rem;
    padding: 0;
    height: 300px;
    width: 100vw;
  }
  .owl-carousel .item {
    margin: 0;
  }
  .h3-promo h3 {
    font-size: 15px;
    text-align: center;
  }
  .imagenes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #redes svg {
    margin: 0 1rem 0 1rem;
  }
  .prefooter .container-fluid .row .col-sm-3 {
    background-color: #977b7b;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .margen-pf {
    margin-bottom: 0rem;
  }
  .alinear-footer {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* ===================Producto=================== */
  .fotos-costado {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fotos-costado img {
    width: 100px;
    margin: 2rem 0 0 0.5rem;
  }
  .foto-principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foto-principal img {
    width: 340px;
    margin: 3rem 0 0 0rem;
  }
  .descripciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 1rem -3rem;
  }
  .descripciones h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem 0 1rem 2.5em;
  }
  .descripciones p {
    width: auto;
    margin: 0 0 1rem 2.5rem;
  }
  .colores {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 1rem 2.5rem;
  }
  .btn-talles {
    margin: 0 0 3rem 2.5rem;
  }
  .precio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .precio h5 {
    margin: 0rem 0 2rem 3rem;
  }
  .precio p {
    margin: 0rem 0 2rem 2rem;
  }
  .btn-comprar {
    margin: 0 0 1rem 2.8rem;
  }
  .btn-aac {
    margin: 0 0 5rem 2.8rem;
  }
}