#redes{
    background-color: #5e0d0d ;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
}
#redes svg{
    margin: 0 3rem 0 3rem;
}
#redes svg:hover{
    scale: 1.2;
}